.logo{
  height:100px;
  width:100px;
}
.Header{
  text-align: center;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 20px;
   text-shadow: 3px 3px #FFFFFF;
    border-style: dotted;
    border-width: 5px;
  font-family: 'Orbitron', sans-serif;
}
.jobContainer{
  height:60vh;
  overflow: scroll;
  overflow-x: hidden;
  width: 20vw;
  margin-left: 20px;
  border-style: double;
  background-color: #2C3539;
}

body{
  overflow: hidden;
}

.jobCard{
   text-shadow: 2px 2px grey;
  text-align: center;
  border-style: double;
  border-color: #2C3539;
  border-width: 10px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: 'Orbitron', sans-serif;
  background-color: white
}

.jobForm{
  text-align: center;
  padding:20px;
}

.label{
  padding: 20px;
}

.options{
  display: inline-block;
  padding:20px;
  margin: 20px;
  height:20px;
  background-color: lightgrey;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000000;

}

.button{
  background-color: black;
  color: white;
  height:30px;
  border-radius: 20px;
  box-shadow: 1px 1px #000000;
  text-align: center;
  font-family: 'Orbitron', sans-serif;

}

.h1Header{
text-align: center;
height:10px;
font-family: 'Orbitron', sans-serif;

}

.formDiv{
  border-style: double;
  margin: 20px;
  font-family: 'Orbitron', sans-serif;

}
.JobDetails{
  margin-left: 25vw;
text-align: center;
margin-top: 10vh;
padding:20px;
border-style: double;
font-family: 'Orbitron', sans-serif;

}
.listdetails{
  display: inline-flex;
}
